---
import AcademyBlock from '../core/AcademyBlock.astro'
import Espe from '../../assets/images/logos/espe.jpg'
import Unir from '../../assets/images/logos/unir.jpeg'
import Genesys from '../../assets/images/logos/genesys.jpg'
import Ubits from '../../assets/images/logos/ubits.png'
import Coursera from '../../assets/images/logos/coursera.jpg'
import Platzi from '../../assets/images/logos/platzi.jpg'
const {} = Astro.props
---

<section
  id="experiencia"
  class="px-4 mx-auto max-w-6xl lg:px-8 bg-[#244856] rounded"
>
  <div
    class="grid gap-8 md:gap-0 md:grid-cols-2 px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl"
  >
    <div class="md:pr-16 text-gray-200">
      <h1
        class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-8"
      >
        Experiencia
      </h1>
      <div class="flex">
        <div class="flex flex-col items-center mr-4 mt-1">
          <div>
            <div
              class="flex items-center justify-center w-7 h-7 rounded-full border-indigo-300 border-2 bg-indigo-300"
            >
              <div class="pulse-base border-indigo-300"></div>
            </div>
          </div>
          <div class="w-px h-full bg-slate-500"></div>
        </div>
        <div class="flex">
          <div class="pt-1 pb-8">
            <h2 class="text-xl font-bold text-slate-300">Ing. en Desarrollo</h2>
            <h3 class="mb-1 text-lg text-slate-400">Banco Solidario</h3>
            <h4 class="mb-1 text-sm text-slate-400">Feb 2022 - Actual</h4>
            <div class="pl-4">
              <p>- JavaScript</p>
              <p>- React</p>
              <p>- .Net Core</p>
              <p>- Full Stack Developer</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="flex flex-col items-center mr-4 mt-1">
          <div>
            <div
              class="flex items-center justify-center w-7 h-7 rounded-full border-blue-300 border-2"
            >
            </div>
          </div>
          <div class="w-px h-full bg-slate-500"></div>
        </div>
        <div class="flex">
          <div class="pt-1 pb-8">
            <h2 class="text-xl font-bold text-slate-300">
              Full Stack Developer
            </h2>
            <h3 class="mb-1 text-lg text-slate-400">Seteinfo</h3>
            <h4 class="mb-1 text-sm text-slate-400">
              Sep 2019 - Feb 2022 · 2 años
            </h4>
            <div class="pl-4">
              <p>- Integraciones con Genesys Cloud</p>
              <p>- Desarrollo web .Net</p>
              <p>- Soporte sistema</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="flex flex-col items-center mr-4 mt-1">
          <div>
            <div
              class="flex items-center justify-center w-7 h-7 rounded-full border-blue-300 border-2"
            >
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="pt-1 pb-8">
            <h2 class="text-xl font-bold text-slate-300">
              Full Stack Developer
            </h2>
            <h3 class="mb-1 text-lg text-slate-400">Freelancer</h3>
            <h4 class="mb-1 text-sm text-slate-400">
              Jun 2018 - Sept 2019 · 1 año 4 meses
            </h4>
            <div class="pl-4">
              <p>Desarrollo de aplicaciones web</p>
              <p>React</p>
              <p>Flutter</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-row">
      <div class="w-px h-full bg-slate-500 md:block hidden md:mr-6"></div>
      <div class="text-gray-200">
        <h1
          class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-8"
        >
          Formación
        </h1>

        <AcademyBlock
          logo={Unir}
          title={'Master en Desarrollo y Operaciones (DevOps)'}
          location={'Unir'}
          date={'2021 - 2022 '}
          style="background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);};"
        />
        <AcademyBlock
          logo={Espe}
          title={'Ing. en Sistemas e Informática'}
          location={'ESPE Quito, Ecuador'}
          date={'2015 - 2020'}
          style="background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);};"
        />

        <h2
          class="text-3xl md:text-4xl font-bold leading-tighter tracking-tighter mb-8 mt-3"
        >
          Certificaciones
        </h2>
        <AcademyBlock
          logo={Genesys}
          title={'Genesys Cloud CX: Professional Certification'}
          location={'Genesys'}
          date={'2021'}
          style="background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);};"
        />
        <AcademyBlock
          logo={Ubits}
          title={'Cómo ser 100% proactivo'}
          location={'Ubits'}
          date={'2022'}
          style="background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);};"
        />
        <AcademyBlock
          logo={Coursera}
          title={'Contact Center AI: Conversational Design Fundamentals'}
          location={'Coursera'}
          date={'2021'}
          style="background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);};"
        />
        <AcademyBlock
          logo={Platzi}
          title={'Curso Profesional de GIT Y GITHUB'}
          location={'Platzi'}
          date={'2021'}
          style="background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);};"
        />
      </div>
    </div>
  </div>
</section>
